*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-style: normal;
    width: 1916px;
}

body {
    background-size: cover;
}

.mainDiv {
    position: absolute;
    width: 1916px;
    height: 840px;
    left: -2px;
    top: 100px;
    background: url(img/helimain.jpg);
}

.logo {
    /* чтобы картинки не дублировались добавляю ширину и высоту */
    width: 129px;
    height: 23px;
    left: 0.38%;
    right: 0.08%;
    top: 0.66%;
    bottom: 0%;
    background: url(img/HELYFLY.jpg);
    margin-left: 390px;
    margin-top: 39px;
}

.telephone {
    position: absolute;
    width: 66px;
    height: 18px;
    left: 555px;
    top: 41px;
    font-size: 14px;
    line-height: 17px;
    color: #B3B3B3; 
}

.number {
    position: absolute;
    width: 150px;
    height: 18px;
    left: 655px;
    top: 1px;
    font-size: 14px;
    line-height: 100px;
    color: #37373F;
}

.title {
    position: absolute;
    width: 887px;
    height: 89px;
    left: 392px;
    top: 286px;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
}

.title p {
    width: 700px;
    color: #FFFFFF;
}

.prosent {
    position: absolute;
    width: 224px;
    height: 96px;
    left: 390px;
    top: 430px;
    background: #FC9B09;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.booking {
    position: absolute;
    width: 304px;
    height: 68px;
    left: 390px;
    top: 540px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25), 0px 4px 70px rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}

.photosession p:nth-child(1) {
    position: absolute;
    width: 200px;
    height: 90px;
    left: 391px;
    top: 1010px;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #37373F;
}

.photosession p:nth-child(2) {
    position: absolute;
    width: 400px;
    height: 73px;
    left: 391px;
    top: 1118px;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #37373F;
    margin-top: 50px;
}

.photosession p:nth-child(3),
.photosession p:nth-child(4),
.photosession p:nth-child(5),
.photosession p:nth-child(6) {
    position: relative;
    left: 390px;
    top: 1220px;
    font-weight: 500;
    font-size: 14px;
    color: #37373F;
}

.headphones {
    position: absolute;
    width: 554px;
    height: 374px;
    left: 979px;
    top: 1010px;
    background: url(img/headphones.jpg);
    border-radius: 4px;
}

.table_photo {
    margin-left: 392px;
    width: 1300px;
}


.photo_package p {
    margin-top: 1330px;
    margin-left: 392px;
    margin-bottom: 37px;
}

.table_photo img {
    width: 277px;
    height: 185px;
    left: 392px;
    top: 1601px;
    border-radius: 4px;
}

img {
    width: 34.89px;
    height: 32.28px;
    margin-right: 10px;
}

.kubok {
    position: absolute;
    width: 268px;
    height: 24px;
    left: 392px;
    top: 1455px;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #37373F;
}