@width-site: 1916px; 

body {
    margin: 0px;
    font-family: Montserrat;
    .main-page { 
        width: 100%; 
        header {
            height: 100px;
            .header__logo {
                width: 129px;
                height: 23px;
                background: url(../dist/img/HELYFLY.jpg);
                margin-left: 20.35490605%;
                margin-top: 39.15px;
                float: left;
            }
            .header__telephone {
                font-size: 14px;
                line-height: 17px;
                color: #B3B3B3;
                display: inline-block;
                margin-top: 41px;
                margin-left: 36.1px;
            }
            .header__number {
                font-size: 14px;
                display: inline-block;
            }     
        }
    }
}

.main-photo {
    position: relative;
    overflow: hidden;
    img {
        min-width: 80%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .photo-desc {
        top: 0px;
        position: absolute;
        width: 100%;
        .photo-desc__container {
            padding-left: 20.3192901878914%;
            padding-top: 14.9%;
            .photo-desc__title {
                width: 70%;
                max-width: 860px;
                font-weight: bold;
                font-size: 40px;
                line-height: 49px;
                p {
                    max-width: 100%;
                    color: #FFFFFF;
                    margin-top: 0px;
                    margin-bottom: 2.27%;
                    span {
                        color: #FC9B09;
                    }
                }
            }
            .photo-desc__procent {
                width: 224px;
                background: #FC9B09;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                padding-top: 0.55%;
                height: 78px;
                margin-bottom: 1.5%;
                .photo-desc__cost {
                    height: 19px;
                    font-size: 20px;
                    line-height: 151.16%;
                    color: #FFFFFF;
                    padding-left: 20px;
                    margin: 0;
                }
                .photo-desc__price {
                    font-weight: 800;
                    font-size: 35px;
                    line-height: 151.16%;
                    color: #FFFFFF;
                    padding-left: 20px;
                    margin: 0;
                    padding-top: 4px;
                }
            }
            .photo-desc__booking-btn {
                text-align: center;
                color: #FFFFFF;
                width: 304px;
                border: 3px solid #FFFFFF;
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25), 0px 4px 70px rgba(255, 255, 255, 0.7);
                border-radius: 3px;
            }
        }
    }
}

.photosession {
    margin-left: 0;
    padding-top: 70px;
    .photosession__desc {
        width: 549px;
        margin: 0;
        float: left;
        h2 {
            margin: 0px;
            width: 280px;
            font-style: normal;
            font-weight: 1000;
            font-size: 40px;
            color: #37373F;
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            color: #37373F;
            left: 391px;
        }
        .photosession__services {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #37373F;
            p {
                margin: 0;
                img {
                    width: 34.89px;
                    height: 32.28px;
                    margin-right: 10px;
                }
            }
        }
        hr {
            margin-top: 39px;
        }
        .photosession__cup-img {
            float: left;
            width: 27.36px;
            height: 22.98px;
            margin-right: 10px;
            margin-top: 30px;
        }
        .photosession__cup-desc {
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            color: #37373F;
            margin-left: 10px;
            margin: 0;
            float: left;
            margin-right: 10px;
            margin-top: 32px;
        }
        .photosession__stars {
            left: 716px;
            top: 1476px;
            margin-top: 44px;
        }
        .photosession__photo-helicopter {
            border-radius: 4px;
        }
    }
}

.gallery {
    margin-left: 0;
    p {
        margin-top: 156px;
        margin-bottom: 37px;
    }
    .gallery__photos {
        width: 1300px;
        img {
            width: 277px;
            height: 185px;
            left: 392px;
            top: 1601px;
            border-radius: 4px;
        }
    }

    .gallery__button {
        margin: 0;
        margin-left: 39%;
        margin-top: 45px;
        margin-bottom: 27px;

        .gallery__arrow {
            width: 11px;
            height: 6px;
            margin: 0;
            float: left;
            margin-top: 8px;
            margin-right: 5px;
        }
        .show-all-photo {
            width: 200px;
            height: 19px;
            left: 871px;
            top: 2010px;
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 25px;
            color: #5286EC;
            margin-left: 20px;
            margin: 0;
        }
    }
}

.gallery__button {
    .gallery__button-text:hover {
        color: #FC9B09;
        font-weight: 600;
    }
}

.photographer-info {
    margin-left: 0;

    .photo-process {
        margin: 0;
        width: 300px;
        float: left;
    
        .photo-process__photographer {
            width: 584px;
            color: #37373F;
            line-height: 24px;
            h3 {
                width: 173px;
                height: 24px;
                left: 391px;
                top: 2110px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
                color: #37373F;
            }
            p {
                width: 584px;
                height: 242px;
                left: 391px;
                top: 2148px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #37373F;
            }
            .photo-process__button {
                width: 126px;
                height: 19px;
                left: 391px;
                top: 2420px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 23px;
                color: #5286EC;
                .photo-process__button a {
                    width: 200px;
                    height: 19px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 25px;
                    color: #5286EC;
                    margin-left: 20px;
                    margin: 0;
                }
                img {
                    width: 11px;
                    height: 6px;
                }
            }
        }
    }
}

.photo-process__services {
    h3 {
        width: 254px;
        height: 24px;
        left: 391px;
        top: 2454px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: #37373F;
        margin: 0;
        margin-top: 40px;
    }
    .photo-process__services-about {
        width: 584px;
        height: 118px;
        left: 391px;
        top: 2492px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #37373F;
    }
    .photo-process__button {
        width: 126px;
        height: 19px;
        left: 392px;
        top: 2620px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: #5286EC;
        img {
            width: 11px;
            height: 6px;
        }
    }
}

.photographer-icon {
    margin: 0;
    width: 139px;
    height: 139px;
    margin-left: 811px;
    background: url(../dist/img/round_photo.jpg);
    margin-top: 68px;
    img {
        margin-left: 200px;
    }
    .photographer-icon__name {
        width: 163px;
        height: 22px;
        left: 1189px;
        top: 2303px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #37373F;
        margin: 0;
        margin-top: 120px;
        margin-bottom: 7px;
    }
    .photographer-icon__prof {
        width: 290px;
        height: 18px;
        left: 1126px;
        top: 2332px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        margin-left: 55px;
        color: #37373F;
        margin: 0;
        margin-left: 40px;
    }
    .photographer-icon__more-info {
        width: 150px;
        font-size: 14px;
        text-align: center;
        color: #5286EC;
        margin: 0;
        margin-top: 11px;
    }
}

.schedule {
    margin: 0;
    margin-left: 0;
    margin-top: 450px;
    .schedule__line {
        height: 0px;
        margin-top: 460px;
        margin-bottom: 50px;
    }
    .schedule__info {
        width: 288px;
        height: 51px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
        color: #37373F;
    }
    .schedule__table {
        width: 770px;
        height: 458px;
        border: 1px solid #C7C7C7;
        box-sizing: border-box;
        border-collapse: collapse;
        tr,
        td {
            border: 1px solid #C7C7C7;
            .schedule__button {
                border: 2px solid #FC9B09;
                width: 64px;
                font-size: 14px;
                color: #FC9B09;
                margin-left: 580px;
                padding-left: 28px;
                padding-right: 30px;
                padding-top: 16px;
                padding-bottom: 16px;
            }
            .schedule__cup {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 26px;
                color: #37373F;
                float: left;
                margin-right: 10px;
                margin: 0;
                margin-right: 10px;
                margin-bottom: 48px;
                img {
                    margin-right: 10px;
                }
            }
            .schedule__stars {
                margin-top: 7px;
            }
        }
    }
}

.schedule__cup span {
    font-weight: 600;
}

.schedule__table {
    .schedule__title {
        width: 205px;
        height: 24px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        color: #37373F;
        padding: 30px;
    }
    .schedule__time {
        width: 260px;
        height: 24px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        color: #37373F;
        padding-left: 30px;
        padding-top: 20px;
        .schedule__price {
            width: 64px;
            height: 22px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #37373F;
            margin: 0;
        }
        .button-date {
            width: 64px;
            height: 18px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #FC9B09;
        }
        .schedule__quantity-places {
            width: 184px;
            height: 24px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            color: #37373F;
            margin: 0;
            margin-bottom: 20px;
        }
    }
}

.modal-window__map {
    margin-top: 82px;
    .modalWindow {
        width: 420px;
        height: 469px;
        background: #FFFFFF;
        border: 1px solid #C7C7C7;
        box-sizing: border-box;
        margin-top: 20px;
        margin-left: 390px;
        position: absolute;
        img {
            width: 61px;
            height: 61px;
            float: left;
            margin-top: 20px;
            margin-left: 30px;
            margin-right: 18px;
        }
        .prop__question {
            height: 21px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #37373F;
        }
        .prop__answer {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            color: #37373F;
        }
        .photographer-photo__modalWindow {
            width: 67px;
            height: 67px;
            margin-left: 30px;
            background: url(../dist/img/round_photo_little.jpg);
            .photographer-name__modalWindow {
                margin-top: 50px;
                .name {
                    width: 300px;
                    height: 22px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #37373F;
                    margin-left: 90px;
                    margin-top: 20px;
                }
                .proffesion {
                    width: 85px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #37373F;
                    margin-left: 90px;
                    margin-top: 5px;
                }
                .more-about-photographer {
                    width: 279px;
                    height: 22px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    color: #5286EC;
                    margin-left: 90px;
                    margin-top: 10px;
                }
            }
        }
    }
}

.feedback {
        // margin-left: 20.3549%;
    margin-left: 0;
    p:first-child {
        width: 121px;
        height: 24px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        color: #37373F;
        margin: 0;
        margin-top: 131px;
    }
    .first_feedback {
        width: 800px;
        .photo__comment {
            width: 101px;
            height: 101px;
            margin: 0;
            float: left;
        }
        .name__feedback {
            width: 179px;
            height: 22px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #37373F;
            margin-left: 120px;
            margin-top: 50px;
        }
        .prof__feedback {
            width: 128px;
            height: 22px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #37373F;
            margin-left: 120px;
        }
        .stars {
            display: inline-block;
            height: 17px;
            margin-left: 19px;
        }
        .checkMark {
            margin-left: 50px;
        }
        .short-reaction {
            width: 285px;
            height: 22px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #B3B3B3;
            margin: 0;
            float: right;
            margin-right: 210px;
        }
        .comment {
            width: 510px;
            height: 88px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #37373F;
            margin-left: 120px;
        }
        .data {
            width: 534px;
            height: 15px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #B3B3B3;
            margin-left: 120px;
        }
        .first_feedback-line {
            margin: 0;
            width: 510px;
            height: 0px;
            margin-top: 35px;
            margin-left: 120px;
        }
    }
    .second_feedback {
        width: 800px;
        .photo_comment_second {
            width: 101px;
            height: 101px;
            margin: 0;
            float: left;
            background: url(../dist/img/vitaliy.jpg);
        }
        .name_feedback_second {
            width: 179px;
            height: 22px;
            left: 511px;
            top: 4085px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #37373F;
            margin-left: 120px;
            margin-top: 50px;
        }
        .prof_feedback_second {
            width: 128px;
            height: 22px;
            left: 511px;
            top: 4117px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #37373F;
            margin-left: 120px;
        }
        .stars__second {
            display: inline-block;
            height: 17px;
            left: 510px;
            top: 4149px;
            margin-left: 19px;
        }
        .checkMark {
            margin-left: 50px;
        }
        .short-reaction__second {
            width: 285px;
            height: 22px;
            left: 698px;
            top: 4150px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #B3B3B3;
            margin: 0;
            float: right;
            margin-right: 210px;
        }
        .comment__second {
            width: 510px;
            height: 88px;
            left: 510px;
            top: 4192px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #37373F;
            margin-left: 120px;
        }
        .data__second {
            width: 534px;
            height: 15px;
            left: 511px;
            top: 4302px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #B3B3B3;
            margin-left: 120px;
        }
        .second_feedback-line {
            margin: 0;
            width: 510px;
            height: 0px;
            left: 510px;
            top: 4352px;
            margin-top: 35px;
            margin-left: 120px;
        }
    }
    .third_feedback {
        width: 800px;
        .photo_comment_third {
            width: 101px;
            height: 101px;
            margin: 0;
            float: left;
            background: url(../dist/img/jim.jpg);
        }
        .name_feedback_third {
            width: 179px;
            height: 22px;
            left: 511px;
            top: 4085px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #37373F;
            margin-left: 120px;
            margin-top: 50px;
        }
        .stars__third {
            display: inline-block;
            height: 17px;
            left: 510px;
            top: 4149px;
            margin-left: 19px;
        }
        .checkMark {
            margin-left: 50px;
        }
        .short-reaction__third {
            width: 285px;
            height: 22px;
            left: 698px;
            top: 4150px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #B3B3B3;
            margin: 0;
            float: right;
            margin-right: 210px;
        }
        .comment__third {
            width: 510px;
            height: 88px;
            left: 510px;
            top: 4192px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #37373F;
            margin-left: 120px;
        }
        .data__third {
            width: 534px;
            height: 15px;
            left: 511px;
            top: 4302px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #B3B3B3;
            margin: 0;
            margin-top: 100px;
            margin-left: 120px;
        }
        .third_feedback-line{
            width: 510px;
            height: 0px;
            left: 510px;
            top: 4352px;
            margin: 0;
            margin-top: 40px;
            margin-left: 120px;
        }
        .button_show-more-photos_footer {
            height: 19px;
            left: 880px;
            top: 5053px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 25px;
            color: #5286EC;
            margin-left: 500px;
            margin-top: 47px;
            .browse:hover {
                color: #FC9B09;
                font-weight: 600;
            }
            .arrow_before_footer {
                width: 11px;
                height: 6px;
                left: 1030px;
                top: 5053px;
            }
            a {
                width: 200px;
                height: 19px;
                left: 1051px;
                top: 4752px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 25px;
                color: #5286EC;
                margin-top: 47px;
            }
        }
    }
}

.footer {
    width: 1920px;
    height: 100px;
    background: #FFFFFF;
    margin-left: 71px;
    img:first-child {
        left: 0.38%;
        right: 0.08%;
        top: 0.66%;
        bottom: 0%;
        background: #000000;
        margin-top: 97px;
    }
    .vk {
        width: 25.5px;
        height: 15.18px;
        left: 1257px;
        top: 5164.46px;
        background: #5476A4;
        margin-left: 671px;
    }
    .fb {
        width: 25.49px;
        height: 25.49px;
        left: 1312.95px;
        top: 5159px;
        background: #4A68AD;
        margin-left: 30px;
    }
    .inst {
        width: 25.49px;
        height: 25.5px;
        left: 1368.44px;
        top: 5159px;
        background: #37373F;
        margin-left: 30px;
    }
    .language {
        width: 23px;
        height: 19px;
        left: 1424px;
        top: 5162px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #37373F;
        margin-left: 30px;
    }
    .arrow_language_footer {
        width: 11px;
        height: 6px;
        left: 1453px;
        top: 5169px;
        margin-bottom: 5px;
    }
}

.second__footer {
    width: 1920px;
    height: 77px;
    left: 3px;
    margin-top: 3250px;
    background: #FAF9F8;
    margin: 0;
    margin-top: 41px;
    .mc_visa {
        width: 300px;
        margin-left: 454px;
        float: left;
        .mc {
            width: 39px;
            height: 25px;
            top: 5246px;
        }
        .visa {
            width: 39px;
            height: 27px;
            left: 516px;
            top: 5244px;
            margin-top: 13px;
            margin-left: 20px;
        }
    }
    .contact_date {
        position: absolute;
        margin-top: 10px;
        .support-number {
            width: 240px;
            height: 18px;
            left: 840px;
            top: 5236px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #B3B3B3;
            margin: 0;
            margin-left: 837px;
        }
        .year {
            width: 256px;
            height: 18px;
            left: 831px;
            top: 5261px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #B3B3B3;
            margin: 0;
            margin-left: 828px;
        }
    }
}

@media screen and (max-width: 768px) {
    .modal__inner {
      width: 90%;
      height: 90%;
      box-sizing: border-box;
    }
}

.modal {
    display: none;
    z-index: 99;
    position: fixed;
    top: -20.368%;
    right: 0;
    bottom: 0;
    left: -2px;
    width: 1920px;
    height: 1538px;
    text-align: left;
    background: rgba(0,0,0, .5);
    transition: opacity .25s ease;
    opacity: 1;
    visibility: visible;
    .modal__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
    }
    .modal__inner {
        transition: top 0.25s ease;
        position: absolute;
        top: -5%;
        right: 0;
        bottom: 0;
        left: 0;
        width: 32.09%;
        height: 57.6723%;
        margin: auto;
        background: #fff;
        border-radius: 5px;
        .modal__close {
            position: absolute;
            right: 1em;
            top: 1em;
            width: 1.1em;
            height: 1.1em;
            cursor: pointer;
        }
        .book {
            width: 439px;
            height: 24.95px;
            left: 738px;
            top: 292.94px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 33px;
            text-align: center;
            color: #37373F;
            margin: 0;
            margin-top: 62px;
            margin-left: 88px;
        }   
        .field__div {
            .date__modal {
                width: 68%;
                height: 20px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #37373F;
                margin-left: 96px;
                margin-top: 10px;
            }
            .field__date{
                width: 68%;
                height: 44px;
                left: 747px;
                top: 463px;
                border: 1px solid #C7C7C7;
                box-sizing: border-box;
                border-radius: 3px;
                margin-left: 96px;
                padding-left: 20px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #C7C7C7;
            }
            .email {
                width: 80px;
                height: 20px;
                left: 747px;
                top: 433px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #37373F;
                margin-left: 96px;
                margin-top: 10px;
            }
            .field__email {
                width: 68%;
                height: 44px;
                left: 747px;
                top: 463px;
                border: 1px solid #C7C7C7;
                box-sizing: border-box;
                border-radius: 3px;
                margin-left: 96px;
                padding-left: 20px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #C7C7C7;
            }
            .name {
                width: 53px;
                height: 20px;
                left: 747px;
                top: 517px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #37373F;
                margin-left: 96px;
                margin-top: 10px;
            }
            .field__name {
                width: 68%;
                height: 44px;
                left: 747px;
                top: 547px;
                border: 1px solid #C7C7C7;
                box-sizing: border-box;
                border-radius: 3px;
                margin-left: 96px;
                padding-left: 20px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #37373F;
            }
            .surname {
                width: 123px;
                height: 20px;
                left: 747px;
                top: 601px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #37373F;
                margin-left: 96px;
                margin-top: 10px;
            }
            .field__surname {
                width: 68%;
                height: 44px;
                left: 747px;
                top: 631px;
                border: 1px solid #C7C7C7;
                box-sizing: border-box;
                border-radius: 3px;
                margin-left: 96px;
                padding-left: 20px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #37373F;
            }
            .telephone-number {
                width: 123px;
                height: 20px;
                left: 747px;
                top: 685px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #37373F;
                margin-left: 96px;
                margin-top: 10px;
            }
            .field__telephone {
                width: 68%;
                height: 44px;
                left: 747px;
                top: 715px;
                border: 1px solid #C7C7C7;
                box-sizing: border-box;
                border-radius: 3px;
                margin-left: 96px;
                padding-left: 20px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #C7C7C7;
            }
            .bank-card {
                width: 130px;
                height: 20px;
                left: 747px;
                top: 769px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #37373F;
                margin-left: 96px;
                margin-top: 10px;
            }
            .modal__table_container {
                width: 68%;
                height: 89px;
                margin-left: 97px;
                .modal__table {
                    width: 100%;
                    height: 89px;
                    border: 1px solid #C7C7C7;
                    box-sizing: border-box;
                    border-radius: 3px;
                    border-collapse: collapse;
                    margin-left: 0px;
                    .field__bank-card-active {
                        width: 140px;
                    }
                    .field__bank-card-cvv {
                        width: 140px;
                    }
                }
            }
            .agree_button {
                margin: 0;
                margin-top: 34px;
                img {
                    width: 16px;
                    height: 16px;
                    left: 748px;
                    top: 924px;
                    background: #FC9B09;
                    box-shadow: 0px 0px 3px rgba(252, 155, 9, 0.6);
                    border-radius: 2px;
                    margin-bottom: 100px;
                    float: left;
                    margin-right: 10px;
                    margin-left: 95px;
                }
                p {
                    width: 396px;
                    height: 40px;
                    left: 774px;
                    top: 922px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    color: #37373F;
                    margin-left: 95px;
                }
                button {
                    width: 61.414%;
                    height: 72px;
                    left: 762px;
                    top: 985px;
                    background: #FC9B09;
                    border-radius: 3px;
                    margin-top: 23px;
                }
            }
        }
    } 
}

td input {
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #C7C7C7;
    outline: none;
    padding-left: 20px;
}
  
.modal__close:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
}

.modal__close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(-45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
}
  
.modal__close:hover:after,
.modal__close:hover:before {
    background: #aaa;
}
  
.modal__table td {
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 3px;
}


.container {
    width: 1137px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1120px){
    .container {
        width: 970px;
    } 
}

@media (max-width: 992px){
    .container {
        width: 758px;
    } 
}

@media (max-width: 768px){
    .container {
        width: 758px;
    }
}