@color: #f04;
body {
    background: @color;
}

*{
    font-style: normal;
    width: 1916px;
    font-family: Montserrat;
}

.main-page {
    width: 1916px;
}

p {
    width: 500px;
}

.main-photo {
    position: absolute;
    width: 1300px;
    height: 400px;
    left: -2px;
    top: 100px;
    background: url(../dist/img/helimain.jpg );
}

.logo {
    /* чтобы картинки не дублировались добавляю ширину и высоту */
    width: 129px;
    height: 23px;
    left: 0.38%;
    right: 0.08%;
    top: 0.66%;
    bottom: 0%;
    background: url(../dist/img/HELYFLY.jpg);
    margin-left: 390px;
    margin-top: 39px;
}

.telephone {
    position: absolute;
    width: 66px;
    height: 18px;
    left: 555px;
    top: 41px;
    font-size: 14px;
    line-height: 17px;
    color: #B3B3B3; 
}

.number {
    position: absolute;
    width: 150px;
    height: 18px;
    left: 655px;
    top: 1px;
    font-size: 14px;
    line-height: 100px;
    color: #37373F;
}

.title {
    position: absolute;
    width: 887px;
    height: 89px;
    left: 392px;
    top: 286px;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
}

.title p {
    width: 700px;
    color: #FFFFFF;
}

.procent {
    position: absolute;
    width: 224px;
    height: 96px;
    left: 390px;
    top: 430px;
    background: #FC9B09;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.booking {
    position: absolute;
    width: 304px;
    height: 68px;
    left: 390px;
    top: 540px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25), 0px 4px 70px rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}

h2 {
    position: absolute;
    width: 200px;
    height: 90px;
    left: 391px;
    top: 950px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #37373F;
}

.description {
    position: absolute;
    width: 400px;
    height: 73px;
    top: 1118px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #37373F;
    left: 391px;
}

.services {
    position: absolute;
    width: 186px;
    height: 20px;
    left: 390px;
    top: 1220px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #37373F;
}

.headphones {
    position: absolute;
    width: 554px;
    height: 374px;
    left: 979px;
    top: 1010px;
    background: url(../dist/img/headphones.jpg);
    border-radius: 4px;
}

.many-photos {
    margin-left: 392px;
    width: 1300px;
}

.photo-package {
    margin: 0 auto;
}

.photo-package p {
    margin-top: 1500px;
    margin-left: 392px;
}

.many-photos img {
    width: 277px;
    height: 185px;
    left: 392px;
    top: 1601px;
    border-radius: 4px;
}

img {
    width: 34.89px;
    height: 32.28px;
    margin-right: 10px;
}

.cup {
    position: absolute;
    width: 268px;
    height: 24px;
    left: 392px;
    top: 1450px;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #37373F;
}

.button__show-more-photos {
    position: absolute;
    width: 166px;
    height: 19px;
    left: 871px;
    top: 2027px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #5286EC;
}

.first__h3 {
    margin-left: 390px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #37373F;
    margin-top: 100px;
}

.second__h3 {
    margin-left: 390px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #37373F;
}

.me {
    margin-left: 390px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #37373F;
    margin-top: 10px;
}

.first__text__paragraph p {
    width: 584px;
    left: 391px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #37373F;
    margin-left: 390px;
}

table {
    width: 770px;
    height: 458px;
    left: 390px;
    top: 2821px;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-collapse: collapse;
    margin-left: 390px;
    margin-bottom: 50px;
}

tr,
td {
    border: 1px solid #C7C7C7;
    padding: 25px;
}

.date__table {
    width: 170px;
    height: 51px;
    margin-left: 390px;
    top: 2740px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #37373F;
}

.read_more {
    position: absolute;
    width: 126px;
    height: 19px;
    left: 391px;
    top: 2395px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #5286EC;
}

.second_paragraph p {
    width: 584px;
    left: 391px;
    top: 2492px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #37373F;
    margin-left: 390px;
}

.cup__in__table {
    height: 24px;
    font-size: 18px;
    color: #37373F;
}

.button-date {
    border: 2px solid #FC9B09;
    width: 64px;
    font-size: 14px;
    color: #FC9B09;
    margin-left: 600px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.photographer-photo {
    position: absolute;
    width: 139px;
    height: 139px;
    left: 1201px;
    top: 2141px;
    background: url(../dist/img/round_photo.jpg);
}

.photographer-name {
    position: absolute;
    width: 290px;
    height: 43px;
    left: 1126px;
    top: 2361px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #5286EC;
}
