@width-site: 1916px; 

body {
    font-family: Montserrat;
    .main-page { 
        width: 100%; 
        .logo {
            width: 129px;
            height: 23px;
            left: 0.38%;
            right: 0.08%;
            top: 0.66%;
            bottom: 0%;
            background: url(../dist/img/HELYFLY.jpg);
            margin-left: 20.3549060542797%;
            margin-top: 39px;
        }
        .telephone {
            position: absolute;
            width: 66px;
            height: 18px;
            left: 555px;
            top: 41px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #B3B3B3;
        }
        .number {
            position: absolute;
            width: 108px;
            height: 18px;
            left: 621px;
            top: 41px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #37373F;
        }
        .main-photo {
            position: absolute;
            left: -2px;
            top: 100px;
            img {
                max-width: 100%;
                height: 840px;
            }
            .title {
                position: absolute;
                width: 46.294%;
                height: 89px;
                left: 20.45929%;
                top: 34.04761%;
                font-weight: bold;
                font-size: 40px;
                line-height: 49px;
                p {
                    width: 850px;
                    color: #FFFFFF;
                    margin-top: 0px;
                    span {
                        color: #FC9B09;
                    }
                }
            }
        }        
    }
}

.main-photo {
    .procent {
        position: absolute;
        width: 224px;
        height: 96px;
        left: 20.3549060542797%;
        top: 400px;
        background: #FC9B09;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        .cost {
            width: 121px;
            height: 19px;
            left: 412px;
            top: 515px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 151.16%;
            color: #FFFFFF;
            padding-left: 20px;
        }
        .price {
            width: 113px;
            height: 36px;
            left: 413px;
            top: 538px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 35px;
            line-height: 151.16%;
            color: #FFFFFF;
            padding-left: 20px;
            padding-bottom: 20px;
        }
    }
    .booking {
        position: absolute;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        width: 304px;
        height: 68px;
        left: 20.3549060542797%;
        top: 520px;
        border: 3px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25), 0px 4px 70px rgba(255, 255, 255, 0.7);
        border-radius: 3px;
    }
}

.photosession {
    h2 {
        position: absolute;
        width: 280px;
        height: 90px;
        left: 391px;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        color: #37373F;
        margin-top: 940px;
    }
    .description {
        position: absolute;
        width: 500px;
        height: 73px;
        top: 1100px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        color: #37373F;
        left: 391px;
    }
    .services {
        position: absolute;
        width: 500px;
        height: 20px;
        left: 390px;
        top: 1200px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #37373F;
        img {
            width: 34.89px;
            height: 32.28px;
            margin-right: 10px;
        }
    }
    .cup {
        position: absolute;
        width: 300px;
        height: 24px;
        left: 430px;
        top: 1455px;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        color: #37373F;
    }
    .headphones {
        position: absolute;
        width: 554px;
        height: 374px;
        left: 979px;
        top: 1010px;
        background: url(../dist/img/headphones.jpg);
        border-radius: 4px;
    }
}

.cup__img {
    position: absolute;
    width: 27.36px;
    height: 22.98px;
    left: 394.32px;
    top: 1471px;
}

.stars__cup {
    position: absolute;
    left: 716px;
    top: 1476px;
    display: inline;
    display: inline;
}

.more-comments_before {
    position: absolute;
    width: 569px;
    height: 0px;
    left: 391px;
    top: 1423px;
}

.more-comments_after {
    position: absolute;
    width: 569px;
    height: 0px;
    left: 391px;
    top: 1510px;
}

.photo-package {
    p {
        margin-top: 1500px;
        margin-left: 392px;
        margin-bottom: 20px;
    }
    .many-photos {
        margin-left: 392px;
        width: 1300px;
        img {
            width: 277px;
            height: 185px;
            left: 392px;
            top: 1601px;
            border-radius: 4px;
        }
    }
}

.button__show-more-photos p {
    position: absolute;
    width: 166px;
    height: 19px;
    left: 871px;
    top: 2010px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #5286EC;
}

.button__show-more-photos img {
    position: absolute;
    width: 11px;
    height: 6px;
    left: 850px;
    top: 2036px;
}

.arrow__after {
    position: absolute;
    width: 11px;
    height: 6px;
    left: 1040px;
    top: 2036px;
}

.first__text__paragraph {
    width: 584px;
    margin-left: 390px;
    color: #37373F;
    line-height: 24px;
    .first__h3 {
        position: absolute;
        width: 173px;
        height: 24px;
        left: 391px;
        top: 2110px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #37373F;
    }
    .first_paragraph{
        position: absolute;
        width: 584px;
        height: 242px;
        left: 391px;
        top: 2148px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #37373F;
    }
}

.browse-box-first {
    position: absolute;
    width: 126px;
    height: 19px;
    left: 391px;
    top: 2420px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #5286EC;
}

.browse-box-first img .browse-box-second img {
    width: 11px;
    height: 6px;
}

.browse-box-second {
    position: absolute;
    width: 126px;
    height: 19px;
    left: 392px;
    top: 2620px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #5286EC;
}

.second__text__paragraph {
    .second__h3 {
        position: absolute;
        width: 254px;
        height: 24px;
        left: 391px;
        top: 2454px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #37373F;
    }
    .second_paragraph {
        position: absolute;
        width: 584px;
        height: 118px;
        left: 391px;
        top: 2492px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #37373F;
    }
}

.photographer-photo {
    position: absolute;
    width: 139px;
    height: 139px;
    left: 1201px;
    margin-top: 158px;
    background: url(../dist/img/round_photo.jpg);
    .photographer-name {
        margin-top: 150px;
        .name {
            width: 163px;
            height: 22px;
            left: 1189px;
            top: 2303px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #37373F;
        }
        .proffesion {
            width: 290px;
            height: 18px;
            left: 1126px;
            top: 2332px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            margin-left: 45px;
            color: #37373F;
        }
        .more-about-photographer {
            width: 200px;
            height: 43px;
            left: 1126px;
            top: 2361px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #5286EC;
        }
    }
}

.photographer-photo img {
    margin-left: 200px;
}

.date__table {
    position: absolute;
    width: 288px;
    height: 51px;
    left: 390px;
    top: 2720px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #37373F;
}

table {
    position: absolute;
    width: 770px;
    height: 458px;
    left: 390px;
    top: 2821px;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-collapse: collapse;
    tr,
    td {
        border: 1px solid #C7C7C7;
        padding: 10px;
        .button-date {
            border: 2px solid #FC9B09;
            width: 64px;
            font-size: 14px;
            color: #FC9B09;
            margin-left: 580px;
            padding-left: 28px;
            padding-right: 30px;
            padding-top: 16px;
            padding-bottom: 16px;
        }
        .cup__in__table {
            left: 462px;
            top: 3207px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            color: #37373F;
            float: left;
            margin-right: 10px;
            margin-bottom: 48px;
            img {
                margin-right: 10px;
            }
        }
        .stars__table {
            margin-top: 5px;
            display: inline-block;
        }
    }
}

.title__table {
    width: 205px;
    height: 24px;
    left: 420px;
    top: 2851px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #37373F;
    padding: 30px;
}

.time__table {
    width: 260px;
    height: 24px;
    left: 420px;
    top: 2915px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #37373F;
    padding-left: 30px;
    padding-top: 20px;
}

.price__table {
    width: 64px;
    height: 22px;
    left: 420px;
    top: 2949px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #37373F;
}

.button-date {
    width: 64px;
    height: 18px;
    left: 1034px;
    top: 2951px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FC9B09;
}

.quantity-places__table {
    width: 184px;
    height: 24px;
    left: 420px;
    top: 2981px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #37373F;
    margin-bottom: 20px;
}

.stars__table {
    left: 744px;
    top: 3209px;
    display: inline;
}

#modalWindow {
    position: absolute;
    width: 420px;
    height: 469px;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 390px;
}

.three-prop__map {
    height: 21px;
    left: 499px;
    top: 3439px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #37373F;
    margin-left: 120px;
    margin-top: 20px;
}

#modalWindow img {
    width: 61px;
    height: 61px;
    left: 420px;
    top: 3432px;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}

.photographer-photo__modalWindow {
    width: 67px;
    height: 67px;
    margin-left: 30px;
    background: url(../dist/img/round_photo_little.jpg);
    .photographer-name__modalWindow {
        .name {
            width: 300px;
            height: 22px;
            left: 497px;
            top: 3725px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #37373F;
            margin-left: 90px;
            margin-top: 20px;
        }
        .proffesion {
            width: 85px;
            left: 497px;
            top: 3752px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #37373F;
            margin-left: 90px;
            margin-top: 5px;
        }
        .more-about-photographer {
            width: 279px;
            height: 22px;
            left: 497px;
            top: 3774px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #5286EC;
            margin-left: 90px;
            margin-top: 10px;
        }
    }
}

.modal-window__map {
    position: absolute;
    width: 1916px;
    height: 509px;
    left: 0px;
    top: 3550px;
}

.map-container {
    top: 82px;
}

.feedback {
    p:first-child {
        position: absolute;
        width: 121px;
        height: 24px;
        left: 390px;
        top: 4200px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        color: #37373F; 
    }
    .first_feedback {
        .photo__comment {
            position: absolute;
            width: 101px;
            height: 101px;
            left: 390px;
            top: 4075px;
            background: url(../dist/img/valery.jpg);
        }
        .name__feedback {
            position: absolute;
            width: 179px;
            height: 22px;
            left: 511px;
            top: 4085px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #37373F;
        }
        .prof__feedback {
            position: absolute;
            width: 128px;
            height: 22px;
            left: 511px;
            top: 4117px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #37373F;
        }
        .stars {
            display: inline-block;
            position: absolute;
            height: 17px;
            left: 510px;
            top: 4149px;
        }
        .short-reaction {
            position: absolute;
            width: 285px;
            height: 22px;
            left: 698px;
            top: 4150px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #B3B3B3;
        }
        .comment {
            position: absolute;
            width: 510px;
            height: 88px;
            left: 510px;
            top: 4192px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #37373F;
        }
        .data {
            position: absolute;
            width: 534px;
            height: 15px;
            left: 511px;
            top: 4302px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #B3B3B3;
        }
        .first_feedback-line {
            position: absolute;
            width: 510px;
            height: 0px;
            left: 510px;
            top: 4352px;
        }
    }
}

.feedback {
    .second_feedback {
        .photo__comment__second {
            position: absolute;
            width: 101px;
            height: 101px;
            left: 390px;
            top: 4382px;
            background: url(../dist/img/vitaliy.jpg);
        }
        .name__feedback__second {
            position: absolute;
            width: 157px;
            height: 22px;
            left: 511px;
            top: 4392px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #37373F;
        }
        .prof__feedback__second {
            position: absolute;
            width: 128px;
            height: 22px;
            left: 511px;
            top: 4424px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #37373F;
        }
        .stars__second {
            display: inline-block;
            position: absolute;
            height: 17px;
            left: 510px;
            top: 4456px;
        }
        .short-reaction__second {
            position: absolute;
            width: 285px;
            height: 22px;
            left: 698px;
            top: 4457px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #B3B3B3;
        }
        .comment__second {
            position: absolute;
            width: 510px;
            height: 88px;
            left: 510px;
            top: 4499px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #37373F;
        }
        .data__second {
            position: absolute;
            width: 534px;
            height: 15px;
            left: 511px;
            top: 4609px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #B3B3B3;
        }
        .second_feedback-line {
            position: absolute;
            width: 510px;
            height: 0px;
            left: 510px;
            top: 4659px;
        }
    }
}

.feedback {
    .third_feedback {
        .photo__comment__third {
            position: absolute;
            width: 101px;
            height: 101px;
            left: 390px;
            top: 4689px;
            background: url(../dist/img/jim.jpg);
        }
        .name__feedback__third {
            position: absolute;
            width: 157px;
            height: 22px;
            left: 511px;
            top: 4699px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #37373F;
        }
        .stars__third {
            display: inline-block;
            position: absolute;
            height: 17px;
            left: 510px;
            top: 4740px;
        }
        .short-reaction__third {
            position: absolute;
            width: 285px;
            height: 22px;
            left: 698px;
            top: 4741px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #B3B3B3;
        }
        .comment__third {
            position: absolute;
            width: 510px;
            height: 88px;
            left: 510px;
            top: 4783px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #37373F;
        }
        .data__third {
            position: absolute;
            width: 534px;
            height: 15px;
            left: 511px;
            top: 4968px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #B3B3B3;
        }
        .third_feedback-line{
            position: absolute;
            width: 510px;
            height: 0px;
            left: 510px;
            top: 5006px;
        }
    }
}

.button__show-more-photos__footer {
    position: absolute;
    width: 165px;
    height: 19px;
    left: 880px;
    top: 5053px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #5286EC;
}

.button__show-more-photos__footer p {
    width: 200px;
    height: 19px;
    left: 1051px;
    top: 4752px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #5286EC;
}

.button__show-more-photos__footer img {
    width: 11px;
    height: 6px;
    left: 1030px;
    top: 5053px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

.arrow__after__footer {
    position: absolute;
    width: 11px;
    height: 6px;
    left: 1070px;
    top: 5063px;
}

.footer {
    position: absolute;
    width: 1920px;
    height: 100px;
    left: -4px;
    top: 5119px;
    background: #FFFFFF;
    margin-left: 461px;
    img:first-child {
        left: 0.38%;
        right: 0.08%;
        top: 0.66%;
        bottom: 0%;
        background: #000000;
    }
    .vk {
        width: 25.5px;
        height: 15.18px;
        left: 1257px;
        top: 5164.46px;
        background: #5476A4;
        margin-left: 671px;
    }
    .fb {
        width: 25.49px;
        height: 25.49px;
        left: 1312.95px;
        top: 5159px;
        background: #4A68AD;
        margin-left: 30px;
    }
    .inst {
        width: 25.49px;
        height: 25.5px;
        left: 1368.44px;
        top: 5159px;
        background: #37373F;
        margin-left: 30px;
    }
    .language {
        width: 23px;
        height: 19px;
        left: 1424px;
        top: 5162px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #37373F;
        margin-left: 30px;
    }
    .arrow__language__footer {
        width: 11px;
        height: 6px;
        left: 1453px;
        top: 5169px;
        margin-bottom: 5px;
    }
}

.second__footer {
    width: 1920px;
    height: 77px;
    left: 3px;
    margin-top: 3250px;
    background: #FAF9F8;
    .mc {
        position: absolute;
        width: 39px;
        height: 25px;
        left: 457px;
        top: 5246px;
    }
    .visa {
        position: absolute;
        width: 39px;
        height: 27px;
        left: 516px;
        top: 5244px;
    }
    .support-number {
        position: absolute;
        width: 240px;
        height: 18px;
        left: 840px;
        top: 5236px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #B3B3B3;
    }
    .year {
        position: absolute;
        width: 256px;
        height: 18px;
        left: 831px;
        top: 5261px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #B3B3B3;
    }
}

.after_read-more {
    position: absolute;
    width: 1139px;
    height: 0px;
    left: 391px;
    top: 2690px;
}

.after__show-all {
    position: absolute;
    width: 1139px;
    height: 0px;
    left: 390px;
    top: 2073px;
}

.book {
    width: 439px;
    height: 24.95px;
    left: 738px;
    top: 292.94px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #37373F;
    margin-top: 62px;
    margin-left: 88px;
}   

.field__div {
    .date__modal {
        width: 80px;
        height: 20px;
        left: 746px;
        top: 349px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #37373F;
        margin-left: 96px;
        margin-top: 31px;
    }
    .field__date{
        width: 420px;
        height: 44px;
        left: 746px;
        top: 379px;
        border: 1px solid #C7C7C7;
        box-sizing: border-box;
        border-radius: 3px;
        margin-left: 96px;
        margin-top: 10px;
        padding-left: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #37373F;
    }
    .email {
        width: 80px;
        height: 20px;
        left: 747px;
        top: 433px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #37373F;
        margin-left: 96px;
        margin-top: 10px;
    }
    .field__email {
        width: 420px;
        height: 44px;
        left: 747px;
        top: 463px;
        border: 1px solid #C7C7C7;
        box-sizing: border-box;
        border-radius: 3px;
        margin-left: 96px;
        margin-top: 10px;
        padding-left: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #C7C7C7;
    }
    .name {
        width: 53px;
        height: 20px;
        left: 747px;
        top: 517px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #37373F;
        margin-left: 96px;
        margin-top: 10px;
    }
    .field__name {
        width: 420px;
        height: 44px;
        left: 747px;
        top: 547px;
        border: 1px solid #C7C7C7;
        box-sizing: border-box;
        border-radius: 3px;
        margin-left: 96px;
        margin-top: 10px;
        padding-left: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #37373F;
    }
    .surname {
        width: 123px;
        height: 20px;
        left: 747px;
        top: 601px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #37373F;
        margin-left: 96px;
        margin-top: 10px;
    }
    .field__surname {
        width: 420px;
        height: 44px;
        left: 747px;
        top: 631px;
        border: 1px solid #C7C7C7;
        box-sizing: border-box;
        border-radius: 3px;
        margin-left: 96px;
        margin-top: 10px;
        padding-left: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #37373F;
    }
    .telephone-number {
        width: 123px;
        height: 20px;
        left: 747px;
        top: 685px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #37373F;
        margin-left: 96px;
        margin-top: 10px;
    }
    .field__telephone {
        width: 420px;
        height: 44px;
        left: 747px;
        top: 715px;
        border: 1px solid #C7C7C7;
        box-sizing: border-box;
        border-radius: 3px;
        margin-left: 96px;
        margin-top: 10px;
        padding-left: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #C7C7C7;
    }
    .bank-card {
        width: 130px;
        height: 20px;
        left: 747px;
        top: 769px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #37373F;
        margin-left: 96px;
        margin-top: 10px;
    }
    .modal__table {
        position: absolute;
        width: 420px;
        height: 89px;
        top: 570px;
        border: 1px solid #C7C7C7;
        box-sizing: border-box;
        border-radius: 3px;
        left: 95px;
    }
    td input {
        border: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #C7C7C7;
        outline: none;
    }
}

input::-ms-value {
    position: absolute;
    width: 183px;
    height: 20px;
    left: 767px;
    top: 476px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #C7C7C7;
}

.modal {
    display: none;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: -115px;
    right: 0;
    bottom: 0;
    left: -2px;
    width: 1920px;
    height: 1538px;
    text-align: left;
    background: rgba(0,0,0, .5);
    transition: opacity .25s ease;
  }
  
  .modal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
  
  .modal {
    opacity: 1;
    visibility: visible;
  }
  
  .modal .modal__inner {
    top: 0;
  }
  
  .modal__inner {
    transition: top 0.25s ease;
    position: absolute;
    top: -5%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 615px;
    height: 887px;
    margin: auto;
    /* overflow: auto; */
    background: #fff;
    border-radius: 5px;
    /* padding: 1em 2em; */
  }
  
  .modal__close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
  }
  
  .modal__close:after,
  .modal__close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
  }
  
  .modal__close:hover:after,
  .modal__close:hover:before {
    background: #aaa;
  }
  
  .modal__close:before {
    transform: rotate(-45deg);
  }
  
  @media screen and (max-width: 768px) {
      
    .modal__inner {
      width: 90%;
      height: 90%;
      box-sizing: border-box;
    }
  }

.agree_button {
    margin-top: 150px;
    img {
        width: 16px;
        height: 16px;
        left: 748px;
        top: 924px;
        background: #FC9B09;
        box-shadow: 0px 0px 3px rgba(252, 155, 9, 0.6);
        border-radius: 2px;
        margin-bottom: 100px;
        float: left;
        margin-right: 10px;
        margin-left: 95px;
    }
    p {
        width: 396px;
        height: 40px;
        left: 774px;
        top: 922px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #37373F;
        margin-left: 95px;
    }
    button {
        width: 390px;
        height: 72px;
        left: 762px;
        top: 985px;
        background: #FC9B09;
        border-radius: 3px;
        margin-top: 23px;
    }
}